*
!.gitignore
!CykmA/
!CykmA/.zshrc
!2ZbvL/
!2ZbvL/.xbindkeysrc
!3FPMD/
!3FPMD/nix.conf
!4RvGX/
!4RvGX/.xinitrc
!8pX8V/
!8pX8V/config.yaml
!C3FkS/
!C3FkS/.tmux.conf
!DRl8I/
!DRl8I/.alacritty.toml
!Iv02a/
!Iv02a/.Xmodmap
!JhUh7/
!JhUh7/init.vim
!Lgt4t/
!Lgt4t/nix.conf
!O7m2A/
!O7m2A/karabiner.json
!Oichl/
!Oichl/.alacritty.toml
!cmqYr/
!cmqYr/config
!dIZ9S/
!dIZ9S/vimrc
!fEYjd/
!fEYjd/.gitconfig
!sCyy2/
!sCyy2/.bashrc
!u2CdH/
!u2CdH/policies.json
!yKxro/
!yKxro/.zshrc
!znadS/
!znadS/.tmux.conf
